/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Top Right Bottom Left (TRBL) */
.box {
  width: 100px;
  height: 100px;
  margin: 10px;
  padding: 10px;
}

.red-box {
  background-color: red;
}

.green-box {
  background-color: green;
}
